openapi: "3.1.0"
info:
  title: Técnico API
  description: |-
    Allows data to be fetched from Técnico Lisboa's FenixEdu servers.
    There are various public endpoints, but there is also support for OAuth,
    allowing to get and change data related to a specific user.

    As a (very) important note, the Object IDs in the endpoints below are not
    necessarily immutable: DSI reserves its right to change these IDs at any time, without notice.
  version: "2.0.0"
  license:
    name: LGPL 3.0
    identifier: LGPL-3.0
    url: https://spdx.org/licenses/LGPL-3.0-or-later.html
servers:
  - url: https://fenix.tecnico.ulisboa.pt/tecnico-api/v2
paths:
  /about:
    $ref: "./paths/about.yaml"
  /academic-terms:
    $ref: "./paths/academicterms.yaml"
  /academic-terms/{beginYear}/{endYear}:
    $ref: "./paths/academicterms-one.yaml"
  /courses/{executionCourse}:
    $ref: "./paths/courses-one.yaml"
  /courses/{executionCourse}/announcements:
    $ref: "./paths/courses-announcements.yaml"
  /courses/{executionCourse}/evaluations:
    $ref: "./paths/courses-evaluations.yaml"
  /courses/{executionCourse}/groups:
    $ref: "./paths/courses-groups.yaml"
  /courses/{executionCourse}/schedule:
    $ref: "./paths/courses-schedule.yaml"
  /courses/{executionCourse}/students:
    $ref: "./paths/courses-students.yaml"
  /degrees:
    $ref: "./paths/degrees.yaml"
  /degrees/all:
    $ref: "./paths/degrees-all.yaml"
  /degrees/{degree}:
    $ref: "./paths/degrees-one.yaml"
  /degrees/{degree}/courses:
    $ref: "./paths/degree-courses.yaml"
  /degrees/{degree}/curriculum:
    $ref: "./paths/degree-curriculum.yaml"
  /person:
    $ref: "./paths/person.yaml"
  /spaces:
    $ref: "./paths/spaces-all.yaml"
  /spaces/buildings:
    $ref: "./paths/spaces-buildings.yaml"
  /spaces/campi:
    $ref: "./paths/spaces-campi.yaml"
  /spaces/{space}:
    $ref: "./paths/spaces-one.yaml"
  /spaces/{space}/day/{day}:
    $ref: "./paths/spaces-day.yaml"
  /spaces/{space}/interval/{startDay}/{endDay}:
    $ref: "./paths/spaces-interval.yaml"
  /spaces/{space}/blueprint/{format}:
    $ref: "./paths/spaces-blueprint.yaml"
  /student/attending:
    $ref: "./paths/student-attending.yaml"
  /student/calendar/classes:
    $ref: "./paths/student-calendar-classes.yaml"
  /student/calendar/evaluations:
    $ref: "./paths/student-calendar-evaluations.yaml"
  /student/curriculum:
    $ref: "./paths/student-curriculum.yaml"
  /student/enrolments:
    $ref: "./paths/student-enrolments.yaml"
  /student/evaluations:
    $ref: "./paths/student-evaluations.yaml"
  /student/evaluations/{evaluation}:
    $ref: "./paths/student-evaluations-enrol.yaml"
  /teacher/calendar/classes:
    $ref: "./paths/teacher-calendar-classes.yaml"
  /teacher/calendar/evaluations:
    $ref: "./paths/teacher-calendar-evaluations.yaml"
  /teacher/professorships:
    $ref: "./paths/teacher-professorships.yaml"
components:
  schemas:
    $ref: "./schemas/_index.yaml"
  securitySchemes:
    oauthApplication:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://fenix.tecnico.ulisboa.pt/oauth/userdialog
          tokenUrl: https://fenix.tecnico.ulisboa.pt/oauth/access_token
          refreshUrl: https://fenix.tecnico.ulisboa.pt/oauth/refresh_token
          scopes:
            read:personal: Read user's personal information
            read:student: Read student's curricular information
            read:evaluations: Read student's evaluation information and state
            write:evaluations: Change student's evaluation state (i.e. enrol and unenrol)
            read:teacher: Read teacher's curricular information
tags:
  - name: public
    description: Endpoints that do not require authentication and don't fit into other tags
  - name: degrees
    description: Endpoints related to degrees
  - name: courses
    description: Endpoints related to courses
  - name: spaces
    description: Endpoints related to spaces (campi, buildings, rooms, etc)
  - name: person
    description: Endpoints related to user information
  - name: curricular
    description: Endpoints related to user academic information
