openapi: "3.1.0"
info:
  title: FenixEdu API
  version: "2.0.0"
servers:
  - url: https://fenix.tecnico.ulisboa.pt/fenixedu-api/v2/
paths:
  /about:
    $ref: "./paths/about.yaml"
  /academicterms:
    $ref: "./paths/academicterms.yaml"
  /academicterms/{beginYear}/{endYear}:
    $ref: "./paths/academicterms-one.yaml"
  /courses/{id}:
    $ref: "./paths/courses-one.yaml"
  /courses/{id}/evaluations:
    $ref: "./paths/courses-evaluations.yaml"
  /courses/{id}/groups:
    $ref: "./paths/courses-groups.yaml"
  # TODO: add schedule
  # /courses/{id}/schedule:
  #   $ref: "./paths/courses-schedule.yaml"
  /courses/{id}/students:
    $ref: "./paths/courses-students.yaml"
  /degrees:
    $ref: "./paths/degrees.yaml"
  /degrees/all:
    $ref: "./paths/degrees-all.yaml"
  /degrees/{id}:
    $ref: "./paths/degrees-one.yaml"
  /degrees/{id}/courses:
    $ref: "./paths/degree-courses.yaml"
  /person:
    $ref: "./paths/person.yaml"
  /student/curriculum:
    $ref: "./paths/student-curriculum.yaml"
  /student/enrolments:
    $ref: "./paths/student-enrolments.yaml"
  /student/evaluations:
    $ref: "./paths/student-evaluations.yaml"
  /student/evaluations/{evaluation}:
    $ref: "./paths/student-evaluations-enrol.yaml"
  /teacher/professorships:
    $ref: "./paths/teacher-professorships.yaml"
components:
  schemas:
    $ref: "./schemas/_index.yaml"
  securitySchemes:
    oauthApplication:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://fenix.tecnico.ulisboa.pt/oauth/userdialog
          tokenUrl: https://fenix.tecnico.ulisboa.pt/oauth/access_token
          refreshUrl: https://fenix.tecnico.ulisboa.pt/oauth/refresh_token
          scopes:
            read:personal: Read user's personal information
            read:student: Read student's curricular information
            read:evaluations: Read student's evaluation information and state
            write:evaluations: Change student's evaluation state (i.e. enrol and unenrol)
            read:teacher: Read teachers's curricular information
tags:
  - name: public
    description: Endpoints that do not require authentication
  - name: person
    description: Endpoints related to user information
  - name: curricular
    description: Endpoints related to user academic information
