// Tables
// Reset
table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
}

table + table {
  margin-top: 4rem;

  @media (min-width: 1200px) {
    margin-top: 8rem;
  }
}

// Default table styles
thead {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;

  @media (min-width: 1200px) {
    position: relative !important;
    clip: initial;
    border-bottom: 1px solid $light-gray;
  }
}

th {
  color: $dark;
  font-weight: 600;
  text-align: left;
}

tr {
  border: 1px solid $light-gray;
  display: block;
  margin-bottom: 40px;
  padding: 20px;

  @media (min-width: 1200px) {
    display: table-row;
    margin: 0;
    padding: 0;
    border-left: 0;
    border-right: 0;

    &:first-of-type {
      border-top: 0;
    }

    &:hover td[data-label="URL"] a {
      color: $blue;
    }
  }
}

td {
  display: block;
  font-weight: 600;
  transition: color 0.2s ease-in-out;

  &::before {
    font-weight: 400;

    /* FIXME: markdown tables are too simple and people won't include the data-label attribute therefore this won't show up on mobile! */
    content: attr(data-label);
    display: block;
  }

  &:not(:first-of-type) {
    margin-top: 20px;
  }

  @media (min-width: 1200px) {
    margin: 0;
    font-weight: 400;

    &::before {
      display: none;
    }
  }
}

// close table with borders
th,
tr td {
  @media (min-width: 1200px) {
    border: 0.1rem solid $gray-300;
  }
}

// media queries
@media (min-width: 1200px) {
  th,
  td {
    display: table-cell;
    padding: 12px 0;

    &:first-of-type {
      padding-left: 20px;
    }
    &:last-of-type {
      padding-right: 20px;
    }
  }

  th {
    padding-right: 26px;
    line-height: 1.2;
  }

  th,
  tr td {
    padding: 1.2rem 1.6rem;
  }

  tr:nth-child(even) {
    background-color: $light-blue;
  }
}
