@import "_reset";
@import "_variables";
@import "_typography";
//@import "_grid";

@import "_menus";
@import "_header";
@import "_nav";
@import "_lists";
@import "_tables";
@import "_buttons";
@import "_labels";
@import "_code";
@import "_custom-blocks";
@import "_cards";
@import "_search-form";


@import "_layout";

body {
  background-color: #fff;
  font-weight: 400;
  line-height: 160%;
}

// Links
a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-bottom: 1px dotted $blue-600;
    color: $blue-600;
  }
}

kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;

  &:not(code[class*='language-']) {
    color: $slate;
    background-color: lighten($light-blue, 2%);
    padding: 0.25rem 0.5rem;
    margin: 0;
    font-size: 0.85em;
    border-radius: 3px;
  }
}
.line-number {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}
hr {
  border: 0;
  border-top: 1px solid $borderColor;
}

@import "mobile";

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px !important;
  text-indent: 10000px;
}